<h1>Cars#show</h1>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <div class="car-info-left">
    <h2><%= @car.brand %></h2>
    <p> <%= @car.model %>- <%= @car.year %> </p>
    </div>
    <div class="car-info-right">
      <h3>Owner - <strong><%= @car.owner.nickname %></strong></h3>
      <p> Fuel Type - <em><%= @car.fuel %></em></p>
      <% if @car.favourites.empty? %>
        <%= simple_form_for [@car, @favourite] do |f| %>
          <%= f.submit "Choose this car", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p>This car is already in your garage</p>
      <% end %>
    </div>
  </div>
</div>

<p><%= link_to "Add a Review", new_car_review_path(@car)%></p>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @car.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
    <% end %>
  </ul>
  <br>
